In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
name = []
rating = []
job_description = []
total_employees = []
type = []
age = []
location = [] 
positive = []

In [3]:
for j in range(1, 11):
    url = 'https://www.ambitionbox.com/list-of-companies?sortBy=popular&page={}'.format(j)
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:81.0) Gecko/20100101 Firefox/81.0",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,/;q=0.8",
        "Accept-Language": "en-US,en;q=0.5",
        "Connection": "keep-alive",
        "Upgrade-Insecure-Requests": "1"
    }

    webpage1 = requests.get(url, headers=headers)
    soup1 = BeautifulSoup(webpage1.content, 'html.parser')

    company1 = soup1.find_all('div', class_='companyCardWrapper__metaInformation')

    for i in company1:
        interlinking_span = i.find('span', class_='companyCardWrapper__interLinking')
        if interlinking_span:
            a = interlinking_span.text.strip().split('|')
            if len(a) == 5:
                job_description.append(a[0])
                total_employees.append(a[1])
                type.append(a[2])
                age.append(a[3])
                location.append(a[4])
                name.append(i.find('h2', class_="companyCardWrapper__companyName").text.strip())
            else:
                job_description.append(None)
                total_employees.append(None)
                type.append(None)
                age.append(None)
                location.append(None)
                name.append(i.find('h2', class_="companyCardWrapper__companyName").text.strip())
        else:
            job_description.append(None)
            total_employees.append(None)
            type.append(None)
            age.append(None)
            location.append(None)
            name.append(i.find('h2', class_="companyCardWrapper__companyName").text.strip())
        
        rating_span = i.find('span', class_='companyCardWrapper__companyRatingValue')
        if rating_span:
            rating.append(rating_span.text.strip())
        else:
            rating.append(None)
        
        b = i.find_all('span', class_='companyCardWrapper__ratingValues')
        if len(b) == 1:
            positive.append(b[0].text.strip())

        elif len(b) == 2:
            positive.append(b[0].text.strip())

        else:
            positive.append(None)


# Ensure all lists are of the same length
max_length = max(len(name), len(rating), len(job_description), len(total_employees), len(type), len(age), len(location), len(positive)) 

def pad_list(lst, length): 
    return lst + [None] * (length - len(lst))

name = pad_list(name, max_length)
rating = pad_list(rating, max_length)
job_description = pad_list(job_description, max_length)
total_employees = pad_list(total_employees, max_length)
type = pad_list(type, max_length)
age = pad_list(age, max_length)
location = pad_list(location, max_length)
positive = pad_list(positive, max_length)


# Create DataFrame
data = {
    'Name': name,
    'Rating': rating,
    'Job Description': job_description,
    'Total Employees': total_employees,
    'Comapny Type' : type,
    'Age': age,
    'Location': location,
    'Positive': positive,
    
}

final = pd.DataFrame(data)

In [21]:
final

,Name,Rating,Job Description,Total Employees,Comapny Type,Age,Location,Positive
0,TCS,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,56 years old,Mumbai +351 more,"Job Security, Work Life Balance"
1,Accenture,4.0,IT Services & Consulting,1 Lakh+ Employees,Public,35 years old,Dublin +179 more,"Company Culture, Skill Development / Learning,..."
2,Cognizant,3.9,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,30 years old,Teaneck. New Jersey. +176 more,Skill Development / Learning
3,Wipro,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,79 years old,Bangalore/Bengaluru +276 more,Job Security
4,Capgemini,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,57 years old,Paris +143 more,"Job Security, Work Life Balance, Skill Develop..."
...,...,...,...,...,...,...,...,...
195,Utkarsh Small Finance Bank,3.9,Banking,10k-50k Employees,Public,15 years old,Varanasi +313 more,None
196,Barclays,4.0,Banking,10k-50k Employees,Forbes Global 2000,334 years old,London +32 more,"Job Security, Company Culture, Salary & Benefits"
197,Berger Paints,3.8,Chemicals,1k-5k Employees,Public,101 years old,Kolkata +265 more,"Promotions / Appraisal, Work Life Balance, Wor..."
198,DCB Bank,3.8,Banking,5k-10k Employees,Fortune India 500,94 years old,Mumbai +309 more,None
199,Carelon Global Solutions,4.0,None,None,None,None,None,"Job Security, Salary & Benefits, Company Culture"

In [22]:
final.to_csv('Top_200_companies_AmbitionBox.csv')